.root {
  position: relative;
  width: 1440px;
  height: 810px;
  align-items: flex-start;
  background-color: #f3f5f6;
  overflow: hidden;
}
._0_Navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: 64px;
  flex-direction: column;
  place-content: space-between;
  align-items: flex-start;
}
.content {
  width: 1440px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  background-color: #fff;
}
.left {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 8px;
}
.logo {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
}
.logo2 {
  width: 64px;
  height: 64px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.line {
  width: 64px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dce2e5;
  margin-bottom: -1px;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
.inputSearch {
  width: 330px;
  height: 48px;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  border-radius: 2px;
  overflow: hidden;
}
.frame {
  width: 16px;
  height: 16px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rechercherUneValeur {
  color: #73848c;
  font-size: 14px;
  line-height: 120%;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.right {
  width: min-content;
  align-self: stretch;
  align-items: center;
  padding: 0 24px;
}
.profil {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 2px;
}
.frame1 {
  width: 32px;
  height: 32px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 10px 0 12px;
  border-radius: 100px;
  background-color: #14b84c;
}
.mS {
  color: #fff;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  font-family: Barlow Semi Condensed, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2 {
  width: 16px;
  height: 16px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.line2 {
  width: 1440px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dce2e5;
  margin-bottom: -1px;
}
.sidebar {
  position: absolute;
  left: 0;
  top: 64px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
}
.content2 {
  width: min-content;
  height: 746px;
  flex-direction: column;
  place-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fff;
}
.top {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 8px;
}
.menuIcon {
  width: 48px;
  height: 48px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #000;
  overflow: hidden;
}
.home {
  width: 16px;
  height: 16px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.menuIcon2 {
  width: 48px;
  height: 48px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
}
.frame3 {
  width: 16px;
  height: 16px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.menuIcon3 {
  width: 48px;
  height: 48px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
}
.frame4 {
  width: 16px;
  height: 16px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.menuIcon4 {
  width: 48px;
  height: 48px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
}
.frame5 {
  width: 16px;
  height: 16px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.top2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.line3 {
  width: 746px;
  max-width: 100%;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce2e5;
  margin-bottom: -1px;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
.frame16 {
  position: absolute;
  left: 64px;
  top: 64px;
  width: 1376px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  background-color: #fff;
}
.frame17 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  padding: 0 24px 4px;
}
.frame15 {
  position: relative;
  width: 54px;
  height: 16px;
  align-items: flex-start;
}
.fonds {
  color: #000;
  font-size: 18px;
  line-height: 120%;
  font-weight: bold;
  font-style: italic;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame12 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
}
.line4 {
  width: 64px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.frame22 {
  width: 301px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  padding: 16px;
}
.frame13 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame132 {
  width: 32px;
  height: 32px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #df3;
}
.frame6 {
  width: 16px;
  height: 16px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.frame14 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
}
.trading {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.portefeuille {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame7 {
  width: 16px;
  height: 16px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.line5 {
  width: 64px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.frame18 {
  width: min-content;
  height: min-content;
  place-content: center;
}
.frame142 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
  padding: 0 24px;
}
._217986 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.liquidite {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line6 {
  width: 32px;
  max-width: 100%;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.frame133 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
  padding: 0 24px;
}
._67986 {
  color: #14b874;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.totalPL {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line7 {
  width: 32px;
  max-width: 100%;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.frame152 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
  padding: 0 24px;
}
._22367986 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.total {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line8 {
  width: 64px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.line9 {
  transform-origin: bottom left;
  position: absolute;
  left: 64px;
  top: 127px;
  width: 1376px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.portefeuille2 {
  position: absolute;
  left: 802px;
  top: 128px;
  width: 300px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  outline: solid 1px #dce0e5;
  background-color: #fff;
  overflow: hidden;
}
.frame19 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 16px;
}
.frame110 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame134 {
  width: 32px;
  height: 32px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #df3;
}
.frame8 {
  width: 16px;
  height: 16px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame111 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
}
.trading2 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.portefeuille3 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame112 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame122 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
}
._29298290 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.total2 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame9 {
  width: 16px;
  height: 16px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.line10 {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame42 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fff;
}
.frame113 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame135 {
  width: 32px;
  height: 32px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #df3;
}
.frame10 {
  width: 16px;
  height: 16px;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.frame114 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
}
.risk {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.portefeuille4 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame115 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame123 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
}
._292982902 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.total3 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame11 {
  width: 16px;
  height: 16px;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.line11 {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame32 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 16px;
}
.frame116 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame136 {
  width: 32px;
  height: 32px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  background-image: linear-gradient(135deg, #ffe5ccff 0%, #fcff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.frame20 {
  width: 16px;
  height: 16px;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.frame117 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
}
.tNTDynamic {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.assets {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame118 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame124 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
}
._210230290 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.total4 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame21 {
  width: 16px;
  height: 16px;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.line12 {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame62 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 16px;
}
.frame119 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame137 {
  width: 32px;
  height: 32px;
  place-content: center;
  align-items: center;
  border-radius: 2px;
  background-image: linear-gradient(135deg, #ffe5ccff 0%, #fcff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.frame23 {
  width: 16px;
  height: 16px;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.frame120 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
}
.tNTDynamic2 {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  text-decoration: line-through;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.liquide {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame121 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 16px;
}
.frame125 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
}
._0 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  text-decoration: line-through;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.total5 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame24 {
  width: 16px;
  height: 16px;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.line13 {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  align-self: stretch;
  border-bottom: solid 1px #dce0e5;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame52 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 16px;
}
.frame126 {
  width: min-content;
  height: min-content;
}
.frame127 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
}
.creerUnNouveauPortefeuille {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame128 {
  width: 16px;
  height: 16px;
  place-content: center;
}
.frame25 {
  width: 16px;
  height: 16px;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.rectangle77 {
  position: absolute;
  left: 824px;
  top: 566px;
  width: 487px;
  height: 159px;
  background-color: #fff;
}
.frame108 {
  position: absolute;
  left: 930px;
  top: 598px;
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 8px;
}
.frame109 {
  width: min-content;
  height: 40px;
  place-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: #f3f5f6;
  overflow: hidden;
}
.frame26 {
  width: 16px;
  height: 16px;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.frame1082 {
  width: min-content;
  height: min-content;
  padding: 0 0 2px;
}
.deposer {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame1083 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px;
  border-radius: 4px;
  background-color: #f3f5f6;
  overflow: hidden;
}
.frame27 {
  width: 16px;
  height: 16px;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.frame28 {
  width: 16px;
  height: 16px;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.frame1102 {
  width: min-content;
  height: 40px;
  place-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: #000;
  overflow: hidden;
}
.frame29 {
  width: 16px;
  height: 16px;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.frame1084 {
  width: min-content;
  height: min-content;
  padding: 0 0 2px;
}
.ouvrirUnCompteReel {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame304 {
  position: absolute;
  left: 185px;
  top: 152px;
  width: 451px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
.frame129 {
  height: 33px;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
}
.frame1085 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}
.frame30 {
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.frame1086 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 4px;
}
.frame130 {
  width: min-content;
  height: min-content;
}
.frame1087 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
}
.charlesColvardLtd {
  color: #000;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame131 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 4px;
}
._96 {
  color: #6c8093;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._356 {
  color: #14b874;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame308 {
  width: 32px;
  height: 32px;
  place-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f3f5f6;
}
.frame31 {
  width: 16px;
  height: 16px;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.frame1088 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
}
.frame300 {
  height: 32px;
  flex: 1;
  place-content: center;
  align-items: center;
  padding: 0 12px 2px;
  border-radius: 4px;
  background-color: #ebf2ff;
}
.market {
  color: #3379ff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame301 {
  height: 32px;
  flex: 1;
  place-content: center;
  align-items: center;
  padding: 0 12px 2px;
  border-radius: 4px;
  background-color: #f3f5f6;
}
.limit {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame302 {
  height: 32px;
  flex: 1;
  place-content: center;
  align-items: center;
  padding: 0 12px 2px;
  border-radius: 4px;
  background-color: #f3f5f6;
}
.stop {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame303 {
  width: min-content;
  height: 32px;
  place-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  border-radius: 4px;
  background-color: #f3f5f6;
}
.frame33 {
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.frame34 {
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.frame1089 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  gap: 8px;
}
.frame306 {
  height: 40px;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 10px 12px 12px;
  outline: solid 1px #dce2e5;
  outline-offset: 0px;
  border-radius: 4px;
  overflow: hidden;
}
.quantite {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._1 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame307 {
  height: 40px;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  padding: 10px 12px 12px;
  outline: solid 1px #dce2e5;
  outline-offset: 0px;
  border-radius: 4px;
  overflow: hidden;
}
.montantTotalEstime {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._95 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame1103 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
}
.frame1104 {
  height: min-content;
  flex: 1;
  padding: 16px;
  border-radius: 4px;
  background-color: #14b874;
}
.frame10810 {
  height: min-content;
  flex: 1;
  align-self: flex-start;
  place-content: space-between;
  align-items: center;
}
._968 {
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.aCHETER {
  color: #fff;
  font-size: 11px;
  line-height: 100%;
  font-weight: 600;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame1092 {
  height: min-content;
  flex: 1;
  padding: 16px;
  border-radius: 4px;
  background-color: #f33;
}
.frame10811 {
  height: min-content;
  flex: 1;
  align-self: flex-start;
  place-content: space-between;
  align-items: center;
}
.vendre {
  color: #fff;
  font-size: 11px;
  line-height: 100%;
  font-weight: 600;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._950 {
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame1122 {
  height: 16px;
  align-self: stretch;
  place-content: space-between;
  align-items: center;
  overflow: hidden;
}
.frame138 {
  width: min-content;
  height: min-content;
}
.fRAIS {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame139 {
  width: min-content;
  height: min-content;
}
._947490 {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 14px;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
}
.label2 {
  color: #6c8093;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
}
.frame1093 {
  position: absolute;
  left: 930px;
  top: 646px;
  width: min-content;
  height: 40px;
  place-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: #e8ebee;
  overflow: hidden;
}
.frame35 {
  width: 16px;
  height: 16px;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.frame10812 {
  width: min-content;
  height: min-content;
  padding: 0 0 2px;
}
.deposer2 {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame10813 {
  position: absolute;
  left: 185px;
  top: 505px;
  width: 451px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  gap: 24px;
  padding: 24px;
  border-radius: 4px;
  background-image: linear-gradient(270deg, #08492eff 0%, #000f 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.frame10814 {
  height: min-content;
  align-self: stretch;
  place-content: space-between;
  align-items: flex-start;
}
._89 {
  color: #fff;
  font-size: 48px;
  line-height: 80%;
  font-weight: 600;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame36 {
  width: 24px;
  height: 24px;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.vosRevenusOntAugmentesDe89CeMo {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 14px;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  font-weight: 600;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
}
.label4 {
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  font-family: Barlow, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2px;
}
.frame10815 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
}
.frame37 {
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.frame10816 {
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  flex: 1;
  overflow: visible;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.frame38 {
  width: 16px;
  height: 16px;
  overflow: visible;
}
.icon31 {
  width: 100%;
  height: 100%;
}
